.footer_title{
    font-weight: 800;
font-size: 38px;
line-height: 132%;
text-align: center;
color: #f9f9f9;
}
.footer_block{
    margin-top: 100px;
}
.footer_connect{
    max-width: 1278px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
    display: flex;
    gap: 25px;
}
.footer_item{
    font-weight: 400;
font-size: 18px;
line-height: 156%;
text-align: center;
color: #c0c0c0;
}
.footer_block_title{
    font-weight: 800;
    font-size: 26px;
    line-height: 146%;
    text-align: center;
    color: #f9f9f9;
    padding: 20px;
}
.footer_content{
    max-width: 302px;
    
}